

<div class="container" style="margin-top:133px;">
    <div class="mb-3">
        <input type="text" class="form-control" id="acno" #acno style="border: 1px solid black;" placeholder="username" >
    </div>
    <div class="mb-3">
        <input type="password" name="" id="pswd" #pswd  placeholder="Password"  class="form-control" style="border: 1px solid black;" >
    </div>
    <div class="mb-3">
        <p style="color: red;" id="error"></p>  
      </div>
    <button class="btn btn-success" (click)="login(acno,pswd)">Login</button>
    <button class="btn btn-danger ms-5" onclick="cancel()" >Cancel</button>
</div>
